extends layout

block content
  h1= title
  p Welcome to #{title}

  a(href='/new') Add a New Message Here
  a(href='/adam') Adam's Page


  p(class="") Messages

  div
    each item in messages
      p= item.text
      p= item.user 
      p= item.added